/* begin normalizer */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul,
ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    *margin-left: -7px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end normalizer */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}
p,
pre {
  margin-bottom: 1em;
  margin-top: 0;
}
pre,
.theme-examples {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 1em;
}
pre {
  background: #eee;
  border-color: #ccc;
  font-size: 80%;
}
pre strong {
  color: #c00;
}
small {
  font-weight: normal;
}
#downloadMenu,
#examplesMenu {
  position: relative;
}
#downloadMenu button ,
#examplesMenu button {
  line-height: 20px;
}
#downloadMenu {
  float: right;
}
#footer {
  background: #eee;
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 80%;
  margin-top: 60px;
  padding: 60px;
}
#githubWatchers {
  font-size: 11px;
}
#header {
  background: #222 no-repeat;
  background-image: -webkit-gradient(radial, center top, 0, center top, 320, from(#555), to(#222));
  background-image: -webkit-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: -moz-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: -ms-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: -o-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: radial-gradient(center top, 0, center top, 320, #555, #222);
  margin-top: 30px;
  padding: 30px 0;
}
#logo {
  color: #fff;
  margin: 0 auto;
  width: 300px;
}
#logo h1,
#logo h2,
#logo h3 {
  margin: 0;
  text-align: right;
}
#logo h1 {
  font-size: 70px;
  font-weight: 900;
  text-shadow: #000 0 2px 4px;
}
#logo h2,
#logo h3 {
  font-weight: 300;
  line-height: 1;
  text-shadow: #000 0 1px 1px;
}
#logo h2 {
  font-size: 24px;
}
#logo h3 {
  font-size: 14px;
}
#logo img {
  margin: 0 10px 0 0;
}
#navigation {
  background-color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(255,255,255,0.2)), colorstop(0.5, rgba(255,255,255,0)), colorstop(0.5, rgba(0,0,0,0)), colorstop(1, rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255,255,255,0.2)', EndColorStr='rgba(0,0,0,0.1)');
  -webkit-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -o-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  font-size: 12px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
#navigation li {
  display: inline-block;
}
#navigation a,
#navigation span {
  color: #fff;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}
#navigation li.active a,
#navigation li.activeMenu a,
#navigation li.activeMenu span {
  background-color: #c00;
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(0,0,0,0.3)), colorstop(0.5, rgba(0,0,0,0)), colorstop(0.5, rgba(255,255,255,0)), colorstop(1, rgba(255,255,255,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0,0,0,0.2)', EndColorStr='rgba(255,255,255,0.1)');
}
.icon-example {
  display: inline-block;
  line-height: 2em;
  white-space: nowrap;
  width: 50%;
}
.grid {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 3%;
}
.grid-one-half,
.grid-one-quarter,
.grid-one-third,
.grid-three-quarters,
.grid-two-thirds {
  display: inline-block;
  margin: 0 3% 1em 0;
  vertical-align: top;
}
.grid-one-half {
  width: 45%;
}
.grid-one-quarter {
  width: 21%;
}
.grid-one-third {
  width: 29%;
}
.grid-three-quarters {
  width: 72%;
}
.grid-two-thirds {
  width: 64%;
}
.section {
  margin-top: 10px;
}
.section .grid-one-half,
.section .grid-one-quarter,
.section .grid-one-third,
.section .grid-three-quarters,
.section .grid-two-thirds {
  vertical-align: bottom;
}
.section h2,
.subsection h5 {
  border-bottom: 1px solid #ccc;
}
.section h2 {
  font-size: 48px;
  font-weight: 900;
}
.section h3 {
  color: #999;
  font-size: 24px;
  font-weight: 300;
}
.subsection h4 {
  margin-bottom: 1em;
  padding-top: 60px;
}
.subsection li {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 80%;
}
.theme-examples {
  border: 1px solid;
}
.theme-examples.nui-thm-dojo {
  background-color: #333;
  border-color: #666;
}
.theme-examples.nui-thm-neon {
  background-color: #000;
  border-color: #333;
}
/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #downloadMenu button ,
  #examplesMenu button {
    line-height: 13px;
  }
  #navigation a,
  #navigation span {
    padding: 0 5px;
  }
  .grid-one-half,
  .grid-one-quarter,
  .grid-one-third,
  .grid-three-quarters,
  .grid-two-thirds {
    width: 45%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .grid-one-half,
  .grid-one-quarter,
  .grid-one-third,
  .grid-three-quarters,
  .grid-two-thirds {
    display: block;
    width: auto;
  }
}
