body {
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 320px;
}
p {
  margin: 0.5em 0 0 0;
}
pre {
  background: #eee;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  font-size: 80%;
  padding: 1em;
}
small {
  font-weight: normal;
}
#content h2 {
  border-bottom: 1px solid #ccc;
  padding: 60px 0 10px 0;
  position: relative;
  margin: 0 128px 30px 0;
}
#content h2 img {
  float: right;
  position: absolute;
  right: -128px;
  top: 30px;
}
#content h2 small {
  color: #ccc;
  vertical-align: middle;
}
#content h3 {
  margin: 1em 0 0 0;
}
#examples h3 {
  border-bottom: 1px solid #ccc;
  padding: 60px 0 10px 0;
  margin: 1em 0 1em 0;
}
#examples pre {
  margin: 0;
}
#footer {
  background: #eee;
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 80%;
  margin-top: 60px;
  padding: 60px;
}
#header {
  background: #222;
  background-image: -webkit-gradient(radial, center top, 0, center top, 320, from(#555), to(#222));
  background-image: -webkit-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: -moz-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: -ms-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: -o-radial-gradient(center top, 0, center top, 320, #555, #222);
  background-image: radial-gradient(center top, 0, center top, 320, #555, #222);
  margin-top: 30px;
  padding: 30px 10px;
  width: 100%;
}
#logo {
  color: #fff;
  margin: 0 auto;
  width: 300px;
}
#logo h1,
#logo h2,
#logo h3 {
  margin: 0;
  text-align: right;
}
#logo h1 {
  font-size: 70px;
  font-weight: 900;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}
#logo h2,
#logo h3 {
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
}
#logo h2 {
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
}
#logo h3 {
  font-size: 14px;
  line-height: 14px;
}
#logo img {
  margin: 0 10px 0 0;
}
#navigation {
  background-color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(255,255,255,0.2)), colorstop(0.5, rgba(255,255,255,0)), colorstop(0.5, rgba(0,0,0,0)), colorstop(1, rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255,255,255,0.2)', EndColorStr='rgba(0,0,0,0.1)');
  -webkit-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -o-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  font-size: 12px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
#navigation li {
  display: inline-block;
}
#navigation a,
#navigation span {
  color: #fff;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}
#navigation li.active a,
#navigation li.activeMenu a,
#navigation li.activeMenu span {
  background-color: #c00;
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(0,0,0,0.3)), colorstop(0.5, rgba(0,0,0,0)), colorstop(0.5, rgba(255,255,255,0)), colorstop(1, rgba(255,255,255,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0,0,0,0.2)', EndColorStr='rgba(255,255,255,0.1)');
}
#downloadMenu,
#examplesMenu {
  position: relative;
}
#downloadMenu {
  float: right;
}
#githubWatchers {
  font-size: 11px;
}
.grid {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 3%;
}
.grid-one-half,
.grid-one-quarter,
.grid-one-third,
.grid-two-thirds {
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
}
.grid-one-half {
  width: 45%;
}
.grid-one-quarter {
  width: 21%;
}
.grid-one-third {
  width: 30%;
}
.grid-two-thirds {
  width: 63%;
}
/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #navigation a,
  #navigation span {
    padding: 0 5px;
  }
  .grid-one-half,
  .grid-one-third,
  .grid-two-thirds {
    width: 94%;
  }
}
