<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta itemprop="name" content="{{ page.title }}"/>
    <meta itemprop="description" content="Ninja User Interface, the jQuery plugin for lethal interaction."/>
    <meta itemprop="image" content="http://ninjaui.com/img/logo.png"/>
    <meta name="description" content="Ninja User Interface, the jQuery plugin for lethal interaction."/>
    <meta name="keywords" content="jquery ui, jquery, ui, user interface, javascript, autocomplete, button, dialog, drawer, icons, menu, rating, slider, tabs"/>
    <meta name="author" content="Jamie Hoover"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="http://ninjaui.com/" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/themes.css"/>
  </head>
  <body>
    {{ content }}
    <div id="footer">
      <div class="container">
        <p>&copy; 2008-2011 Jamie Hoover</p>
        <p>Bonsai, kakejiku, katana, kimono and shodou illustrations used with permission by <a href="http://www.pixelpressicons.com/">Gary Gehiere</a>.</p>
        <p>Thank you Rachel Hoover, <a href="http://paulirish.com/">Paul Irish</a>, <a href="http://peter.sh/">Peter Beverloo</a>, <a href="http://yehudakatz.com/">Yehuda Katz</a>, <a href="http://langworth.com/">Ian Langworth</a>, and <a href="http://www.yummly.com/">Yummly</a> for your generous time.</p>
        <p>Ninja UI 1.0 is dedicated to the memory of <a href="/img/peanut.jpg">Peanut</a>.</p>
      </div>
    </div>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/cdn/{{ page.version }}/jquery.ninjaui.min.js"></script>
    <script src="/js/bootstrap-scrollspy.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
